@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    margin: 0;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 4.17vmax;
    margin: 0;
}

h2{
    font-size: 1.6vmax;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    margin-bottom: 5%;
}

form input, button{
    text-align: center;
    height: 2vmax;
    width: 12.5vmax;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: white;
    font-size: 1vmax;
}

button{
    cursor: pointer;
    border-radius: 4px;
    transition: all .25s;
}

button:hover{
    height: 2.5vmax;
    width: 15.5vmax;
    font-size: 1.25vmax;
}

@media (orientation: portrait) {
    .content{
        width: 100vw;
    }

    .input{
        display: flex;
        flex-direction: column;
    }
}